<div class="card-body">
  <div class="select-item">
    <div class="form-control">
      <form class="select" [formGroup]="chosenCity" (ngSubmit)="onSubmit()">

          <select formControlName="city" required name="cities" id="cities">
            <option [ngValue]="null" selected disabled value="choose">Select city...</option>
            <option
              *ngFor="let city of cities"
              [value]=city.id>{{city.name}}
            </option>
          </select>

        <input type="submit" value="update" class="btn btn-block">
      </form>

    </div>
  </div>

  <app-weather-container [cityWeather]="cityWeather"
                          [ngStyle]="{'padding': '10px'}"></app-weather-container>

</div>
