@use "../../../../config";

$baseColor: lighten(config.$primary-color, 20%);

.card-body {
  border-top: 1px solid lighten(config.$primary-color, 50%);
}

.form-control {

  grid-gap: 10px;
  padding: 10px;

  .select {

    display: grid;
    grid-template-areas: "select";
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    position: relative;

    select {
      min-width: 15ch;

      border: 1px solid lighten(config.$primary-color, 50%);
      border-radius: 0.15em;
      padding: 0.25em 0.5em;

      font-size: 1.25rem;
      cursor: pointer;
      line-height: 2.4;

      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    }

    select,
    &::after {
      color: lighten(config.$primary-color, 50%);
    }

    option {
      color: lighten(config.$primary-color, 50%);
    }

    select {
      option {
        color: config.$primary-color;
      }
    }
  }

}




