<div class="card-body">
  <div class="select-item">
    <div class="form-control">
      <div class="select">
        <select required name="cities" id="cities">
          <option selected disabled value="choose">Select city...</option>
          <option
            *ngFor="let city of cities"
            [value]=city.name>{{city.name}}</option>
        </select>
      </div>
      <input type="submit" value="update" class="btn btn-primary">
    </div>
  </div>
  <div class="weather-template">
    <app-card-title title='City' class="weather-title"></app-card-title>
  </div>
</div>
